<template>
  <div>
    <div id="wdgt-container" style="width: 100%; height: 95vh"></div>
    <!--    <script type="application/javascript">-->
    <!--      !(function (e, t, n, c, s, a, i) {-->
    <!--        ;(e.CsePvzWidget = s),-->
    <!--          (e[s] =-->
    <!--            e[s] ||-->
    <!--            function () {-->
    <!--              ;(e[s].q = e[s].q || []).push(arguments)-->
    <!--            }),-->
    <!--          (e[s].l = 1 * new Date()),-->
    <!--          (a = t.createElement(n)),-->
    <!--          (i = t.getElementsByTagName(n)[0]),-->
    <!--          (a.async = 1),-->
    <!--          (a.src = c),-->
    <!--          i.parentNode.insertBefore(a, i)-->
    <!--      })(-->
    <!--        window,-->
    <!--        document,-->
    <!--        'script',-->
    <!--        'https://lk.cse.ru/dist/js/widget.js?' + Date.now(),-->
    <!--        'csepvzwidget'-->
    <!--      )-->
    <!--      csepvzwidget('init', {-->
    <!--        token: '19a1d60aa8959223ed35ed130a634919',-->
    <!--        city: 'cf862f77-442d-11dc-9497-0015170f8c09',-->
    <!--        popup: false,-->
    <!--        el: '#wdgt-container'-->
    <!--      })-->
    <!--      csepvzwidget('open', {-->
    <!--        callback: function (e) {-->
    <!--          console.log(e)-->
    <!--        },-->
    <!--        onclose: function () {-->
    <!--          console.log('widget is closed')-->
    <!--        }-->
    <!--      })-->
    <!--    </script>-->
  </div>
</template>

<script>
export default {
  name: 'CSEMapWidget'
}
</script>

<style scoped></style>
