<template>
  <section class="bullets">
    <div class="item">
      <img
        src="https://images.samsung.com/is/image/samsung/assets/ru/delivery/icon_melkogabarit.24fe4b7e.png"
        alt="dostavka-melkogabaritnogo-tovara"
      />
      <p class="text">
        Сроки доставки
        <strong>мелкогабаритного товара</strong> (в&nbsp;календарных днях)
      </p>
      <div
        v-if="deliveryData"
        class="result"
        :class="{
          success: deliveryData.length > 0,
          warning:
            deliveryData.length === 0 ||
            deliveryData[0].DeliveryShort.includes('не осуществляется')
        }"
      >
        {{
          deliveryData.length > 0
            ? deliveryData[0].DeliveryShort
            : `Доставка не осуществляется`
        }}
      </div>
    </div>
    <div class="item">
      <img
        src="https://images.samsung.com/is/image/samsung/assets/ru/delivery/icon_krupnogabarit.f8b379fe.png"
        alt="dostavka-krupnogabaritnogo-tovara"
      />
      <p class="text">
        Сроки доставки
        <strong>крупногабаритного товара</strong> (в&nbsp;календарных днях)
      </p>
      <div
        v-if="deliveryData"
        class="result"
        :class="{
          success: deliveryData.length > 0,
          warning:
            deliveryData.length === 0 ||
            deliveryData[0].DeliveryLong.includes('не осуществляется')
        }"
      >
        {{
          deliveryData.length > 0
            ? deliveryData[0].DeliveryLong
            : `Доставка не осуществляется`
        }}
      </div>
    </div>
    <div class="item">
      <img
        src="https://images.samsung.com/is/image/samsung/assets/ru/delivery/icon_conditioners.png"
        alt="dostavka-konditsionerov"
      />
      <p class="text">
        Доставка <br />
        <strong>кондиционеров</strong>
      </p>
      <div
        v-if="condDelivery !== null"
        class="result"
        :class="{ success: condDelivery, warning: !condDelivery }"
      >
        {{ condDelivery ? `Осуществляется` : `Не осуществляется` }}
      </div>
    </div>
    <div class="item">
      <img
        src="https://images.samsung.com/is/image/samsung/assets/ru/delivery/icon_trade-in.e11a3129.png"
        alt="samsung-trade-in-online"
      />
      <p class="text">
        Программа <br />
        <strong>Трейд-ин онлайн</strong>
        <sercTooltip
          class="tooltip"
          :tooltip-text="tooltipText"
          :is-tooltip-active="isTooltipActive"
          ><img
            @click="isTooltipActive = !isTooltipActive"
            style="cursor: pointer"
            src="https://images.samsung.com/is/image/samsung/assets/ru/delivery/icon_questionMark.png"
            alt=""
        /></sercTooltip>
        <br />
        (для&nbsp;мобильных устройств)
      </p>
      <div
        v-if="tradeInData"
        class="result"
        :class="{
          success: tradeInData.length !== 0,
          warning: tradeInData.length === 0
        }"
      >
        {{
          tradeInData.length !== 0
            ? formatTradeInResultSuccess
            : formatTradeInResultWarning
        }}
      </div>
    </div>
  </section>
</template>

<script>
import sercTooltip from '@/components/SercTooltip'

export default {
  name: 'SercDeliveryConditions',
  components: { sercTooltip },
  props: {
    userCity: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      sdsToken: '4aaadd2e-1d91-481c-88bd-bcdd60d1ed38',
      isSDSLoading: false,
      deliverySdsUrl: 'https://ssl.samsung.ru/localcms/chatbot/getcities?city=',
      tradeSdsUrl:
        'https://ssl.samsung.ru/localcms/chatbot/gettradeincities?city=',
      conditionerCitiesUrl:
        'https://ssl.samsung.ru/localcms/ChatBot/Conditioners_GetDeliveryCities?city=',
      deliveryData: null,
      tradeInData: null,
      conditionersData: [
        {
          City: 'Москва',
          DeliveryLong: null,
          DeliveryShort: null,
          Region: null
        }
      ],
      deliveryErrors: null,
      tradeInErrors: null,
      condDelivery: null,
      isTooltipActive: false,
      tooltipText: {
        text: 'Программа трейд-ин подразумевает выгодный обмен старого мобильного устройства на новое.',
        link: {
          url: 'https://www.samsung.com/ru/mobile/trade-in/',
          text: 'Подробнее'
        }
      }
    }
  },
  methods: {
    async sdsData(val) {
      try {
        this.isSDSLoading = true
        const options = {
          method: 'POST',
          headers: {
            Authorization: 'Bearer ' + this.sdsToken
          }
        }

        const deliveryRes = await fetch(this.deliverySdsUrl + val, options)
        const deliveryData = await deliveryRes.json()
        const tradeInRes = await fetch(this.tradeSdsUrl + val, options)
        const tradeInData = await tradeInRes.json()
        const condCitiesRes = await fetch(
          this.conditionerCitiesUrl + val,
          options
        )
        const condCitiesData = await condCitiesRes.json()
        if (deliveryRes.status === 200 || deliveryRes.status === 201) {
          this.deliveryData = deliveryData
          this.tradeInData = tradeInData
          this.conditionersData = condCitiesData
          this.condDelivery =
            this.conditionersData.length > 0 &&
            this.conditionersData[0].City.includes(this.sdsRequestVal)
        } else {
          this.isSDSLoading = false
          this.deliveryErrors = deliveryData
          this.tradeInErrors = tradeInData
        }
      } catch (error) {
        this.isSDSLoading = false
        console.log(error)
      }
    }
  },
  mounted() {
    this.sdsData(this.userCity.city)
  },
  watch: {
    userCity() {
      this.sdsData(this.sdsRequestVal)
    }
  },
  computed: {
    formatTradeInResultSuccess() {
      return this.userCity.settlement
        ? `Действует в г. ${this.userCity.settlement}`
        : `Действует в г. ${this.userCity.city}`
    },
    formatTradeInResultWarning() {
      return this.userCity.settlement
        ? `Не действует в\u00A0${this.userCity.settlement_type}.\u00A0${this.userCity.settlement}`
        : `Не действует в\u00A0${this.userCity.city_type}.\u00A0${this.userCity.city}`
    },
    sdsRequestVal() {
      return (this.userCity.region_with_type &&
        this.userCity.region_with_type === 'Московская обл') ||
        this.userCity.region_with_type === 'г Москва'
        ? this.userCity.region
        : this.userCity.city
    }
  }
}
</script>

<style scoped lang="scss">
* {
  box-sizing: border-box;
}
.delivery-conditions {
  text-align: center;
}
.bullets {
  display: flex;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}
.item {
  width: 280px;
  padding: 30px 18px;
  background-color: #f4f5f8;
  border-radius: 22px;
  display: grid;
  height: 384px;
  grid-auto-rows: 133px 140px 50px;
  justify-items: center;
  align-items: end;
}
.text {
  @include customFont;
  font-weight: 400;
  font-size: 18px;
  align-self: start;
  text-align: center;
  margin: 0;
  padding: 30px 0 15px 0;
}
.result {
  @include customFont;
  align-self: start;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.success {
  color: $success;
}
.warning {
  color: $warning;
}
.tooltip {
  margin-left: 7px;
}
@media screen and (max-width: 779px) {
  .item {
    width: 350px;
  }
}
@media screen and (max-width: 410px) {
  .item {
    width: 280px;
  }
}
@media screen and (max-width: 320px) {
  .item {
    & img {
      width: fit-content;
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.7s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
