<template>
  <div class="map">
    <yandex-map
      v-if="isMapOpened"
      ref="map"
      :coords="[+userCity.geo_lat, +userCity.geo_lon]"
      zoom="10"
      style="width: 100%; height: 600px"
      :controls="['zoomControl']"
    >
      <ymap-marker
        v-for="n in formattedStores"
        :key="n.geo_lat"
        :marker-id="n.City"
        marker-type="placemark"
        :coords="[n.geo_lat, n.geo_lon]"
        :icon="markerIcon"
      >
        <serc-map-widget-balloon :store="n" slot="balloon" :isPickUps="false" />
      </ymap-marker>
    </yandex-map>
  </div>
</template>

<script>
import SercMapWidgetBalloon from '@/components/SercMapWidgetBalloon'
import samsungIcon from '@/assets/geo_marker_samsung.svg'
import { brandStores } from '@/brand_stores.js'

export default {
  name: 'serc-map-brand-stores',
  components: { SercMapWidgetBalloon },
  props: {
    userCity: {
      type: Object,
      required: true
    },
    isBrandMapOpen: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      isMapOpened: false,
      markerIcon: {
        layout: 'default#imageWithContent',
        imageHref: samsungIcon,
        imageSize: [34, 41],
        imageOffset: [-5.6, -37.1]
      },
      formattedStores: []
    }
  },
  watch: {
    isBrandMapOpen() {
      this.isMapOpened = !this.isMapOpened
      this.formattedStores = brandStores.map((i) => {
        const coordinates = i.Coordinates.split(',')
        return {
          City: i.City,
          geo_lat: +coordinates[0],
          geo_lon: +coordinates[1],
          StoreAddress: i.StoreAddress,
          StoreName: i.StoreName
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.map {
  margin-top: 20px;
  width: 1000px;
  position: relative;
}
.ymap-container {
  height: 100%;
}
</style>
