<template>
  <div v-if="isPickUps">
    <h3>{{ text.pointName }}</h3>
    <p>
      <strong>Адрес:</strong> г. {{ text.city }}, {{ text.street }}
      {{ text.building }}
    </p>
    <p><strong>Время работы:</strong> {{ text.workingTime }}</p>
    <p>
      <strong>Телефон: </strong
      ><a :href="`tel:${this.text.telephone}`">{{ formatPhone }}</a>
    </p>
    <p><strong>Сроки доставки до пункта:</strong> {{ text.leadTime }} дня</p>
    <p><strong>Возврат денежных средств:</strong> {{ text.moneyReturn }}</p>
  </div>
  <div v-else>
    <h3>г. {{ store.City }}, {{ store.StoreName }}</h3>
    <p>{{ store.StoreAddress }}</p>
  </div>
</template>

<script>
export default {
  name: 'serc-map-widget-balloon',
  props: {
    text: {
      type: Object
    },
    isPickUps: {
      type: Boolean
    },
    store: {
      type: Object
    }
  },
  computed: {
    formatPhone() {
      let cleaned = ('' + this.text.telephone).replace(/\D/g, '')
      let match = cleaned.match(/^(7|)?(\d{3})(\d{3})(\d{2})(\d{2})$/)

      if (match) {
        let intlCode = match[1] ? '+7 ' : ''
        return [
          intlCode,
          '(',
          match[2],
          ') ',
          match[3],
          '-',
          match[4],
          '-',
          match[5]
        ].join('')
      }

      return null
    }
  }
}
</script>

<style lang="scss" scoped>
h3 {
  @include subhead;
  font-size: 18px;
}
p {
  @include customFont;
  font-size: 14px;
  margin: 14px 0;
}
a {
  color: $blue;
  &:visited {
    color: rgba($blue, 0.5);
  }
}
</style>
