<template>
  <a class="serc-tooltip">
    <slot>{{ isTooltipActiveClass }}</slot>
    <div class="serc-tooltip__inner" :class="isTooltipActiveClass">
      {{ tooltipText.text }}
      <a :href="tooltipText.link.url">{{ tooltipText.link.text }}</a>
    </div></a
  >
</template>

<script>
export default {
  name: 'SercTooltip',
  props: {
    tooltipText: {
      type: Object,
      required: true
    },
    isTooltipActive: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    isTooltipActiveClass() {
      return this.isTooltipActive ? 'serc-tooltip--active' : ''
    }
  }
}
</script>

<style lang="scss" scoped>
a.serc-tooltip {
  position: relative;
  @include customFont;
  font-size: 14px;
}
a.serc-tooltip:hover {
  text-decoration: none;
}
.serc-tooltip--active {
  display: inline !important;
  position: absolute;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #000;
}
a.serc-tooltip .serc-tooltip__inner {
  display: none;
  padding: 15px 15px;
  bottom: 25px;
  left: -200px;
  right: -29px;
  opacity: 0.93;
  & a {
    color: $blue;
    cursor: pointer;
  }
}
</style>
