<template>
  <div class="spinner">
    <div class="spinner__circle"></div>
  </div>
</template>

<script>
export default {
  name: 'serc-spinner'
}
</script>

<style lang="scss" scoped>
.spinner {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.spinner__circle {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  &:before {
    content: '';
    border-radius: 100%;
    box-shadow: inset 0 0 0 2px #2189ff;
    position: absolute;
    left: -50%;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
