<template>
  <div class="map">
    <yandex-map
      v-if="isPickUpMapOpen"
      ref="map"
      :coords="[+userCity.geo_lat, +userCity.geo_lon]"
      zoom="10"
      style="width: 100%"
      :controls="['zoomControl']"
      :cluster-options="{
        1: { clusterDisableClickZoom: false }
      }"
    >
      <ymap-marker
        v-for="n in fetchedPickUpPointsData"
        :key="n.pointName"
        :marker-id="n.pointName"
        marker-type="placemark"
        :coords="[n.coordinates[0], n.coordinates[1]]"
        :icon="markerIcon"
        cluster-name="1"
      >
        <serc-map-widget-balloon :text="n" slot="balloon" :isPickUps="true" />
      </ymap-marker>
    </yandex-map>
  </div>
</template>

<script>
import SercMapWidgetBalloon from '@/components/SercMapWidgetBalloon'
export default {
  name: 'serc-map-pick-ups',
  components: { SercMapWidgetBalloon },
  props: {
    dadataUserInfo: {
      type: Object,
      required: true
    },
    userCity: {
      type: Object,
      required: true
    },
    isPickUpMapOpen: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      sdsToken: '4aaadd2e-1d91-481c-88bd-bcdd60d1ed38',
      fetchedPickUpPointsData: undefined,
      isMapOpened: true,
      isSDSLoading: false,
      markerIcon: {
        layout: 'default#imageWithContent',
        imageHref:
          'https://images.samsung.com/is/content/samsung/assets/ru/delivery/geo_marker_samsung.03835cde.svg',
        imageSize: [34, 41],
        imageOffset: [-5.6, -37.1]
      }
    }
  },
  methods: {
    async sdsPickUpPointsData(val) {
      try {
        const url = `https://ssl.samsung.ru/localcms/chatbot/getpickups?City=${val}`
        const token = this.sdsToken
        this.isSDSLoading = true
        let options = {
          method: 'POST',
          headers: {
            Authorization: 'Bearer ' + token
          }
        }

        const res = await fetch(url, options)
        const data = await res.json()
        if (res.status === 200 || res.status === 201) {
          this.fetchedPickUpPointsData = data.map((i) => {
            this.isSDSLoading = false
            const pointName = i.PickUpPointName.trim()
            const city = i.City.trim()
            const street = i.Street.trim()
            const building = i.Building.trim()
            const office = i.Office.trim()
            const telephone = i.Telephone.trim()
            const leadTime = i.LeadTime.trim()
            const workingTime = i.WorkingTime.trim()
            const coordinates = i.Coordinates.split(',')
            const moneyReturn = i.MoneyReturn.trim()
            return {
              coordinates: [+coordinates[0].trim(), +coordinates[1].trim()],
              pointName,
              workingTime,
              city,
              street,
              building,
              office,
              telephone,
              leadTime,
              moneyReturn
            }
          })
        } else {
          this.isSDSLoading = false
          this.errors = data
          console.error(data)
        }
      } catch (error) {
        this.isSDSLoading = false
        console.error(error)
      }
    }
  },
  watch: {
    isPickUpMapOpen() {
      this.sdsPickUpPointsData('')
      this.isMapOpened = !this.isMapOpened
    }
  },
  async mounted() {
    await this.sdsPickUpPointsData('')
  }
}
</script>

<style lang="scss" scoped>
.map {
  margin-top: 20px;
  width: 1000px;
}
.ymap-container {
  height: 600px;
}
@media screen and (max-width: 1239px) {
  .map {
    width: 600px;
  }
}
@media screen and (max-width: 700px) {
  .map {
    width: 500px;
  }
  .ymap-container {
    height: 500px;
  }
}
@media screen and (max-width: 580px) {
  .map {
    width: 400px;
  }
  .ymap-container {
    height: 400px;
  }
}
@media screen and (max-width: 430px) {
  .map {
    width: 320px;
  }
  .ymap-container {
    height: 430px;
  }
}
@media screen and (max-width: 369px) {
  .map {
    width: 250px;
  }
  .ymap-container {
    height: 320px;
  }
}
</style>
