<template>
  <div class="select-wrapper" v-click-outside="doStuff">
    <div class="input-wrapper">
      <label @click="some">
        <input
          ref="input"
          class="input"
          type="text"
          @input="debounceSearch"
          placeholder="Москва"
          v-model="inputValue"
        />
      </label>
      <div class="drop" @click="some">
        <div v-if="!typing && !isDadataLoading"></div>
        <serc-spinner
          v-else
          class="spinner"
          style="width: 15px; height: 15px"
        />
      </div>
    </div>
    <div
      class="select"
      v-if="userSuggestClick && dadataUserInfo.length > 0 && !clickOutside"
    >
      <div
        v-for="r in dadataUserInfo"
        :key="r.value"
        class="select__item"
        @click="selectedCity(r.data)"
      >
        <text-highlight class="select__text" :queries="inputValue"
          >{{ r.value | formatCity }}
        </text-highlight>
      </div>
    </div>
  </div>
</template>

<script>
import SercSpinner from '@/components/SercSpinner'
import { preloadCities } from '@/preloadCities'

export default {
  name: 'serc-city-search-widget',
  components: { SercSpinner },
  data: () => {
    return {
      debounce: null,
      delay: 100,
      inputValue: '',
      message: null,
      loading: null,
      typing: null,
      dadataToken: 'af5d423502bd0ef09582467ecb6b86a38d450cba',
      dadataSuggestUrl:
        'https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address',
      dadataUserInfo: preloadCities,
      isDadataLoading: false,
      userChoice: {},
      userSuggestClick: false,
      clickOutside: true
    }
  },
  methods: {
    some() {
      this.userSuggestClick = !this.userSuggestClick
      this.clickOutside = !this.clickOutside
    },
    debounceSearch(event) {
      this.message = null
      this.typing = 'You are typing'
      this.loading = true
      this.isSelected = false
      clearTimeout(this.debounce)
      this.debounce = setTimeout(() => {
        this.typing = null
        this.loading = null
        this.message = event.target.value
        this.getDadataSuggests(this.message)
      }, 600)
    },
    async getDadataSuggests(val) {
      const data = {
        query: val.toString().trim(),
        count: 6,
        bounds: 'city',
        from_bound: { value: 'city' },
        to_bound: { value: 'settlement' },
        fias_level: 4
      }
      const dadataCallOptions = {
        method: 'POST',
        mode: 'cors',
        cache: 'no-cache',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Token ${this.dadataToken}`
        },
        redirect: 'follow',
        referrerPolicy: 'no-referrer',
        body: JSON.stringify(data)
      }
      try {
        if (this.inputValue.length !== 0) {
          this.isDadataLoading = true
          await fetch(this.dadataSuggestUrl, dadataCallOptions)
            .then((r) => r.json())
            .then((r) => (this.dadataUserInfo = r.suggestions))
            .then(() => (this.userSuggestClick = true))
            .then(() => (this.clickOutside = false))
            .then(() =>
              this.clickOutside === false
                ? (this.userSuggestClick = true)
                : (this.userSuggestClick = false)
            )
        }
      } catch (error) {
        console.log('DadataSuggests: ', error)
      } finally {
        this.isDadataLoading = false
      }
    },
    selectedCity(val) {
      this.userSuggestClick = true
      this.userChoice = val
      this.$emit('selected', val)
      this.inputValue = val.city || val.settlement
      this.userSuggestClick = false
    },
    doStuff() {
      this.clickOutside = true
      this.userSuggestClick = false
    }
  },
  filters: {
    formatCity: function (val) {
      if (!val) return ''
      val = val.replaceAll('г ', 'г. ').replaceAll('обл,', 'обл.,')
      return val
    }
  },
  watch: {
    inputValue(val) {
      if (val.length === 0) {
        this.dadataUserInfo = preloadCities
      }
    }
  }
}
</script>

<style lang="scss" scoped>
* {
  box-sizing: border-box;
}
.label {
  margin-right: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.select-wrapper {
  position: relative;
}
.input-wrapper {
  position: relative;
}
.input {
  @include regular;
  font-weight: bold;
  width: 436px;
  height: 50px;
  border: none;
  background-color: #fff;
  border-radius: 50px;
  padding-left: 25px;
  &:focus {
    outline: none;
  }
}
.drop {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  border-radius: 0 50px 50px 0;
  pointer-events: none;
}
.triangle-rotate {
  transform: rotate(180deg);
}
.spinner {
  position: absolute;
  right: 15px;
  top: 36%;
  pointer-events: none;
}
.select {
  position: absolute;
  background-color: #fff;
  width: 436px;
  margin-top: 5px;
  padding: 10px 25px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 99999;
  &__item {
    cursor: pointer;
    transition: 0.1s ease;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &:hover {
      background: lightblue;
    }
  }
}
@media screen and (max-width: 580px) {
  .input {
    width: 300px;
  }
  .select {
    width: 300px;
  }
}
@media screen and (max-width: 410px) {
  .input {
    width: 100%;
  }
  .select {
    width: 100%;
  }
}
</style>

<style lang="scss">
.select__text {
  .text__highlight {
    background-color: lightblue;
  }
}
</style>
