@font-face {
  font-family: 'SamsungSharpSans';
  src: url('~@/assets/fonts/SamsungSharpSansBd.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SamsungOne';
  src: url('~@/assets/fonts/SamsungOne-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SamsungOne';
  src: url('~@/assets/fonts/SamsungOne-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
