$blue: #2189ff;
$grey: #f4f4f4;
$success: #5fb500;
$warning: #ff4337;
$fontFam: 'SamsungSharpSans', arial, sans-serif;
$fontFamAlt: 'SamsungOne', arial, sans-serif;
$spinnerSize: 50px;
@mixin heading {
  font-family: $fontFam;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.33;
  color: #000000;
}
@mixin subhead {
  font-family: $fontFamAlt;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.33;
  color: #000000;
}
@mixin regular {
  font-family: $fontFamAlt;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
}
@mixin customFont {
  font-family: $fontFamAlt;
  line-height: 1.33;
}
