<template>
  <div id="serc-delivery-page">
    <div class="banner">
      <img
        src="https://images.samsung.com/is/image/samsung/assets/ru/delivery/main_banner.f3bd43db.png"
        alt="samsung-delivery-banner"
      />
    </div>
    <h1>Бесплатная доставка по России</h1>
    <section class="main-search">
      <h3>Проверить условия доставки</h3>
      <div class="search-wrapper">
        <span>Введите город получения</span>
        <serc-city-search-widget
          class="main-search__widget"
          @selected="selectedCity"
        />
      </div>
    </section>
    <SercDeliveryConditions :user-city="userCity" />
    <section class="section-with-text express-delivery">
      <h2>Доставка курьером</h2>
      <div class="section-info">
        <p>
          После оформления заказа в&nbsp;течение нескольких минут вам придет
          автоматическое смс-подтверждение. Если подтверждение по&nbsp;смс
          не&nbsp;пришло, с&nbsp;вами свяжется специалист колл-центра
          и&nbsp;предложит выбрать удобный интервал доставки.
        </p>
        <p>
          Курьер доставит заказ к&nbsp;вам домой или в&nbsp;офис в&nbsp;рамках
          выбранного интервала, предварительно связавшись по&nbsp;телефону,
          указанному при оформлении заказа.
        </p>
        <p>
          Доставка заказов не&nbsp;осуществляется в&nbsp;общественные места
          (торговые центры, гостиницы, рестораны, станции метро, вокзалы
          и&nbsp;т.п.).
        </p>
        <p>
          Время ожидания курьера составляет 15&nbsp;минут. В&nbsp;случае
          превышения этого срока ожидания мы&nbsp;вправе перенести доставку
          на&nbsp;другое время и/или дату, которую согласует с&nbsp;вами
          специалист колл-центра.
        </p>
        <p>
          Доставка осуществляется в&nbsp;помещение, указанное в&nbsp;заказе.
          Курьер заносит товары в&nbsp;помещение, оставляя
          их&nbsp;у&nbsp;входной двери. Курьер не осуществляет установку или
          настройку товаров. (Установка бытовой техники и&nbsp;телевизоров
          осуществляется отдельно,
          <a
            href="https://www.samsung.com/ru/shop/installation/"
            target="_blank"
            >подробнее о бесплатной установке</a
          >)
        </p>
      </div>
    </section>
    <!--    <section class="section-with-text serc-pick-ups__section">-->
    <!--      <h2>Самовывоз из фирменного магазина Samsung</h2>-->
    <!--      <div class="section-info">-->
    <!--        <p>-->
    <!--          Вы можете оформить самовывоз товаров категории “мобильные устройства”-->
    <!--          из фирменных магазинов Samsung.-->
    <!--        </p>-->
    <!--        <p>-->
    <!--          Список фирменных магазинов и график работы, в которые можно оформить-->
    <!--          доставку вы найдете ниже.-->
    <!--        </p>-->
    <!--        <p>-->
    <!--          Максимальный срок хранения заказа составляет 5 (пять) календарных-->
    <!--          дней, начиная с согласованной даты доставки в магазин. По истечении-->
    <!--          срока хранения, заказ будет считаться аннулированным, необходимо-->
    <!--          оформить новый заказ.-->
    <!--        </p>-->
    <!--      </div>-->
    <!--      <button class="serc-btn" @click="isBrandMapOpen = !isBrandMapOpen">-->
    <!--        {{ !isBrandMapOpen ? `Посмотреть на карте` : `Закрыть карту` }}-->
    <!--      </button>-->
    <!--      <transition name="fade">-->
    <!--        <div class="serc-brand-stores">-->
    <!--          <serc-city-search-widget-->
    <!--            v-if="isBrandMapOpen"-->
    <!--            @selected="selectedCity"-->
    <!--            class="serc-brand-stores__search"-->
    <!--          />-->
    <!--          <serc-map-brand-stores-->
    <!--            class="serc-brand-stores__map"-->
    <!--            :dadataUserInfo="dadataUserInfo"-->
    <!--            :userCity="userCity"-->
    <!--            :isBrandMapOpen="isBrandMapOpen"-->
    <!--          />-->
    <!--        </div>-->
    <!--      </transition>-->
    <!--    </section>-->
    <section class="section-with-text serc-brand-stores__section">
      <h2>Самовывоз из пункта выдачи</h2>
      <div class="section-info">
        <div class="text-with-icon">
          <div class="icon-wrapper">
            <img
              src="https://images.samsung.com/is/content/samsung/assets/ru/delivery/phoneS.e235167f.svg"
              alt=""
              style="height: 47px; width: 65px"
            />
          </div>
          <p>
            Вы&nbsp;можете оформить доставку категории товаров &laquo;Мобильные
            устройства&raquo; до&nbsp;пункта выдачи заказов. Список пунктов
            выдачи заказов и&nbsp;график их работы вы&nbsp;найдете ниже.
          </p>
        </div>
        <div class="text-with-icon">
          <div class="icon-wrapper">
            <img
              src="https://images.samsung.com/is/content/samsung/assets/ru/delivery/Calendar.428bb365.svg"
              alt=""
              style="height: 39px; width: 65px"
            />
          </div>
          <p>
            Максимальный срок хранения заказа в&nbsp;пункте выдачи
            составляет&nbsp;5 (пять) календарных дней, начиная
            с&nbsp;согласованной даты доставки. После этого заказ будет
            считаться аннулированным, и&nbsp;нужно будет оформить новый заказ
            с&nbsp;новым сроком доставки.
          </p>
        </div>
        <div class="text-with-icon">
          <div class="icon-wrapper">
            <img
              src="https://images.samsung.com/is/content/samsung/assets/ru/delivery/Box.5d81f935.svg"
              alt=""
              style="height: 40px; width: 65px"
            />
          </div>
          <p>
            Пункты выдачи заказов не&nbsp;работают в&nbsp;праздничные дни.
            Точную информацию по&nbsp;графику работы узнавайте по&nbsp;телефонам
            соответствующих пунктов выдачи заказов.
          </p>
        </div>
      </div>
      <button class="serc-btn" @click="isPickUpMapOpen = !isPickUpMapOpen">
        {{ isPickUpMapOpen === true ? `Закрыть карту` : `Посмотреть на карте` }}
      </button>
      <transition name="fade">
        <!--        <CSEMapWidget></CSEMapWidget>-->
        <div class="serc-pick-ups">
          <serc-city-search-widget
            v-if="isPickUpMapOpen === true"
            @selected="selectedCity"
            class="serc-pick-ups__search"
          />
          <serc-map-pick-ups
            :dadataUserInfo="dadataUserInfo"
            :userCity="userCity"
            :isPickUpMapOpen="isPickUpMapOpen"
          />
        </div>
      </transition>
    </section>
    <section class="section-with-text serc-delivery-status">
      <h2>Статус доставки заказа</h2>
      <div class="section-info">
        <div class="text-with-icon">
          <div class="icon-wrapper">
            <img
              src="https://images.samsung.com/is/content/samsung/assets/ru/delivery/Phone.1c9d68c4.svg"
              alt=""
              style="height: 30px; width: 65px"
            />
          </div>
          <p>
            Для уточнения статуса доставки заказа вы&nbsp;можете связаться с
            колл-центром по&nbsp;телефону
            <a href="tel:88005555566">8-800-555-55-66</a>.
          </p>
        </div>
        <div class="text-with-icon">
          <div class="icon-wrapper">
            <img
              src="https://images.samsung.com/is/content/samsung/assets/ru/delivery/FREE.25dd3b00.svg"
              alt=""
              style="height: 35px; width: 65px"
            />
          </div>
          <p>
            Если вы&nbsp;хотите изменить адрес доставки, дату или интервал
            доставки, в&nbsp;некоторых случаях это возможно, и&nbsp;для этого
            необходимо заблаговременно связаться с&nbsp;колл-центром.
          </p>
        </div>
      </div>
    </section>
    <section class="section-with-text serc-order-receiving">
      <h2>Получение заказа</h2>
      <div class="section-info">
        <p>
          В&nbsp;день получения заказа вам придет смс-сообщение
          с&nbsp;пин-кодом. При получении заказа будьте готовы сделать несколько
          простых действий:
        </p>
        <ul class="section__list">
          <li><strong>Сообщить курьеру номер заказа</strong></li>
          <li>
            <strong
              >Проверить соответствие товара заказу, количество товаров
              и&nbsp;их состояние (без включения), состояние упаковки;</strong
            >
          </li>
          <li>
            <strong
              >Сообщить курьеру пин-код из&nbsp;смс-сообщения. Пин-код служит
              подтверждением получения заказа.</strong
            >
          </li>
          <li>
            <strong
              >Оплатить заказ, если он&nbsp;не&nbsp;был предоплачен
              на&nbsp;сайте.</strong
            >
          </li>
          <li>
            <strong
              >Если заказ предоплачен, то&nbsp;в&nbsp;некоторых случаях курьер
              может попросить вас предъявить документ, удостоверяющий
              личность.</strong
            >
          </li>
        </ul>
        <h3>Важно:</h3>
        <ul class="section__list">
          <li>
            Расписываясь в&nbsp;документах или передавая курьеру пин-код из
            сообщения, вы&nbsp;подтверждаете своё согласие с&nbsp;целостностью и
            сохранностью товара, его соответствие заказу, отсутствие претензий к
            службе доставки. При получении заказа вы&nbsp;вправе отказаться от
            товара. В&nbsp;случае продажи товара комплектом или при
            предоставлении дополнительной скидки на&nbsp;другой товар
            по&nbsp;условиям какой-либо проводимой продавцом акции отказ
            возможен только от&nbsp;всего комплекта и/или всех товаров
            по&nbsp;акционной цене, входящих в&nbsp;него.
          </li>
          <li>
            Мы&nbsp;можем выдать предварительно оплаченный товар только лицу,
            указанному в&nbsp;заказе. Если по&nbsp;какой-либо причине это лицо
            не&nbsp;может получить заказ, необходимо заблаговременно связаться
            с&nbsp;колл-центром.
          </li>
          <li>
            Курьеры и&nbsp;работники пунктов выдачи заказов не&nbsp;могут давать
            технические консультации по&nbsp;товарам.
          </li>
        </ul>
        <div class="disclaimer">
          <p>
            С&nbsp;более подробной информацией об&nbsp;условиях и&nbsp;порядка
            доставки, а также приемки товаров вы&nbsp;можете ознакомится&nbsp;в
            <a
              href="https://shop.samsung.com/ru/sales_conditions"
              target="_blank"
              >Условиях продажи</a
            >.
          </p>
          <p>
            Доставка Товаров осуществляется только в&nbsp;города Российской
            Федерации, перечень которых, а&nbsp;также сроки доставки,
            <a
              href="https://images.samsung.com/is/content/samsung/p5/ru/eshop/Cities_delivery_list.pdf"
              target="_blank"
              >вы найдете здесь</a
            >.
          </p>
          <p>
            <strong>Доставка кондиционеров</strong> осуществляется только в
            города Российской Федерации, перечень которых,
            <a
              href="https://images.samsung.com/is/content/samsung/p5/ru/eshop/Conditioners_delivery_list.pdf"
              target="_blank"
              >вы найдете здесь</a
            >.
          </p>
        </div>
      </div>
      <!--      <CSEMapWidget></CSEMapWidget>-->
    </section>
  </div>
</template>

<script>
import SercMapPickUps from '@/components/SercMapPickUps'
import SercCitySearchWidget from '@/components/SercCitySearchWidget'
import SercDeliveryConditions from '@/components/SercDeliveryConditions'
// import SercMapBrandStores from '@/components/SercMapBrandStores'
// import CSEMapWidget from '@/components/CSEMapWidget'

export default {
  name: 'App',
  components: {
    SercMapPickUps,
    SercCitySearchWidget,
    SercDeliveryConditions
    // SercMapBrandStores
    // CSEMapWidget
  },
  data() {
    return {
      userIpCity: '',
      isIpLoading: false,
      dadataUserInfo: {},
      isDadataLoading: false,
      userCity: { city: 'Москва', geo_lat: '55.75396', geo_lon: '37.620393' },
      isBrandMapOpen: false,
      isPickUpMapOpen: true
    }
  },
  methods: {
    selectedCity(event) {
      this.userCity = event
    }
  }
}
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
}
</style>

<style lang="scss" scoped>
#serc-delivery-page {
  font-family: $fontFamAlt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 80px 20px;
}
* {
  box-sizing: border-box;
}
.banner {
  width: 100%;
  background-color: #f4f5f8;
  display: flex;
  justify-content: center;
  & img {
    transform: translateY(7px);
    max-width: 100%;
  }
}
h1 {
  @include heading;
  margin: 70px 0 82px 0;
  text-align: center;
}
h2 {
  @include heading;
  text-align: center;
  margin: 0;
}
.main-search {
  width: 1240px;
  h3 {
    @include subhead;
    text-align: center;
    margin: 0 0 26px 0;
  }
}
@media screen and (max-width: 1239px) {
  .main-search {
    width: 100%;
  }
}
.search-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f4f5f8;
  border-radius: 22px;
  align-items: center;
  & span {
    @include regular;
    font-weight: bold;
    margin-right: 26px;
  }
}
.main-search__widget {
  padding: 44px 0 38px 0;
}
.section-with-text {
  width: 100%;
  margin-top: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.disclaimer {
  margin-top: 35px;
}
.section-info {
  max-width: 1240px;
  width: 100%;
  margin-top: 68px;
  & > :not(:last-child) {
    margin-bottom: 12px;
  }
  & h3 {
    @include customFont;
    font-weight: 600;
    font-size: 18px;
  }
  & p {
    @include regular;
  }
  & p + p {
    margin-top: 12px;
  }
  & a {
    color: $blue;
    &:visited {
      color: rgba($blue, 0.5);
    }
  }
}
.section__list {
  @include regular;
  list-style: none;
  margin: 18px 0 12px;
  padding: 0;
  & li:not(:last-child) {
    margin-bottom: 10px;
  }
  & li:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 5px;
    height: 5px;
    align-self: start;
    border-radius: 100px;
    background-color: #000;
  }
}
.serc-pick-ups {
  position: relative;
  &__search {
    z-index: 999;
    position: absolute;
    top: 35px;
    left: 15px;
  }
}
.serc-brand-stores {
  position: relative;
  &__search {
    z-index: 999;
    position: absolute;
    top: 25px;
    left: 15px;
  }
}
.serc-btn {
  @include regular;
  background-color: #fff;
  cursor: pointer;
  font-weight: 700;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 30px;
  border: 2px solid #000;
  transition: all 0.3s ease;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

@media screen and (max-width: 720px) {
  .search-wrapper {
    flex-direction: column;
    padding: 30px;
  }
  .main-search__widget {
    padding: 0;
    margin-top: 15px;
  }
}
@media screen and (max-width: 539px) {
  .section-info {
    margin-top: 25px;
  }
}
@media screen and (max-width: 410px) {
  h1 {
    font-size: 36px;
    margin: 46px 0 30px 0;
  }
  h2 {
    font-size: 36px;
  }
  .section-with-text {
    margin-top: 50px;
  }
}
.text-with-icon {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.icon-wrapper {
  width: 65px;
  height: 65px;
  background-color: #f4f5f8;
  border-radius: 10px;
  margin-right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
